*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.contenido{
  width: 100%;
}

.title{
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
}

.column-izq{
  width: 45%;
  display: flex;
  flex-direction: column;
  float: left;
}

.column-der{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.res{
  float: left;
}

.preguntas{
  margin: 20px;
}

.respuestas{
  margin-top: 20px;
}

.verificacion{
  margin-top: 40px;
  display: flex;
  float: left;
}

fieldset{
  border: 1px solid rgba(0, 0, 0, 0.079);
}


.btn{
  margin: 0 auto;
}

.boton{
  margin: 30px;
}

.advertencia{
  text-align: center;
  color: red;
}