<h3 class="title">CUESTIONARIO</h3>


<form [formGroup]="cuestionario" (ngSubmit)="guardar()">

  <div class="contenido">
    <div class="column-izq">

      <fieldset class="preguntas">
          <legend>Pregunta</legend>

          <p>
            {{ pregunta1 }}
          </p>      
        <div class="respuestas">
          <div class="res">
            <input 
            type="radio" 
            id="No" 
            value="No mucho"
            name="resUno"
            formControlName="resUno"
            >
            <label for="No">No mucho</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="Av" 
            value="Aveces"
            name="resUno"
            formControlName="resUno"
            >
            <label for="Av">Aveces</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="Si"
            value="Siempre"
            name="resUno"
            formControlName="resUno"
            >
            <label for="Si">Siempre</label>
          </div>
        </div>
      </fieldset>

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p>
            {{pregunta2}}
          </p>   
        <div class="respuestas">
          <div class="res">
            <input 
            type="radio" 
            id="rojo" 
            value="Rojo"
            name="resDos"
            formControlName="resDos"
            >
            <label for="rojo">Rojo</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="azul" 
            value="Azul"
            name="resDos"
            formControlName="resDos"
            >
            <label for="azul">Azul</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="negro"
            value="Negro"
            name="resDos" 
            formControlName="resDos"
            >
            <label for="negro">Negro</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="ninguno2"
            value="Ninguno2"
            name="resDos" 
            formControlName="resDos"
            >
            <label for="ninguno2">Ninguno</label>
          </div>
        </div>
      </fieldset>
    
      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p>
            {{pregunta3}}
          </p>      
        <div class="respuestas">
          <div class="res">
            <input 
            type="radio" 
            id="negro3" 
            value="Negro"
            name="resTres"
            formControlName="resTres"
            >
            <label for="negro3">Negro</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="azul3" 
            value="Azul"
            name="resTres"
            formControlName="resTres"
            >
            <label for="azul3">Azul</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="cafe"
            value="Cafe"
            name="resTres"
            formControlName="resTres"
            >
            <label for="cafe">Cafe</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="blanco"
            value="Blanco"
            name="resTres"
            formControlName="resTres"
            >
            <label for="blanco">Blanco</label>
          </div>
        </div>
      </fieldset>

    </div>


    <div class="column-der">

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p>
            {{ pregunta4 }}
          </p>      
        <div class="respuestas">
          <div class="res">
            <input 
            type="radio" 
            id="plumas" 
            value="1 kilo de plumas"
            name="resCuatro"
            formControlName="resCuatro"
            >
            <label for="plumas">1 kilo de plumas</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="oro" 
            value="1 kilo de Oro"
            name="resCuatro"
            formControlName="resCuatro"
            >
            <label for="oro">1 kilo de Oro</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="ninguno"
            value="Ninguno"
            name="resCuatro"
            formControlName="resCuatro"
            >
            <label for="ninguno">Ninguno</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="iguales"
            value="Son iguales"
            name="resCuatro"
            formControlName="resCuatro"
            >
            <label for="iguales">Son iguales</label>
          </div>

        </div>
      </fieldset>

      <fieldset class="preguntas">
          <legend>Pregunta</legend>
          <p>
            {{ pregunta5 }}
          </p>      
        <div class="respuestas">
          <div class="res">
            <input 
            type="radio" 
            id="tres" 
            value="3 Dedos"
            name="resCinco"
            formControlName="resCinco"
            >
            <label for="tres">3 Dedos</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="dos" 
            value="2 Dedos"
            name="resCinco"
            formControlName="resCinco"
            >
            <label for="dos">2 Dedos</label>
          </div>
          <div class="res">
            <input 
            type="radio" 
            id="cuatro"
            value="4 Dedos"
            name="resCinco"
            formControlName="resCinco"
            >
            <label for="cuatro">4 Dedos</label>
          </div>
        </div>
      </fieldset>


      <div class="verificacion">
        <div>
          <label for="verifi">
            Usted acepta que está respondiendo con sinceridad las anteriores preguntas?
          </label>
        </div>
        <div>
            <input 
            type="checkbox"
            id="faceptar"
            name="aceptar"
            formControlName="aceptar"
            required 
            >            
        </div>
      </div>
      <small class="advertencia" *ngIf="aceptarNoValido">Debe tiquear la opcion para guardar el cuestionario</small>

      <div class="btn">
        <button type="submit" class="boton"[disabled]="cuestionario.invalid">Guardar</button>
      </div>

    </div>
  </div>
</form>